.bc-color {
  background-color: #030a18;
  color: aliceblue;
}
.bc-font {
  font-family: 'Courier New', Courier, monospace;
}

.img-fluid-custom {
  width: 200px;
  height: 200px;
}

.nav-custom {
  background-color: #030a18;
}

@media screen and (max-width: 992px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
}

.nav-link:hover{
    display: block;
    padding-left: 1rem;
  }
.sk-card{
  width: 270px;
  border-color: gray;
  border-radius: 20px;
}